:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color-title: #2e2f42;
  --secondary-color-title: #434455;
  --accent-color: #404bbf;
  --logo-color:#4d5ae5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}
/* HEADER */

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-title);
}

.logo-web {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--primary-color-title);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color:var(--secondary-color-title);
}
.contact-mail-link:hover,
.contact-mail-link:focus {
  color: var(--accent-color);
}

/* HERO  */

.hero {
  background: var(--primary-color-title);
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--accent-color);
  cursor: pointer;
}

.title-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-title);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-title);
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color-title);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-title);
}

.team-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-title);
}

.footer {
  background: var(--primary-color-title);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
